@keyframes subAnimation {
	0% {
		border-image: linear-gradient(
				to top,
				var(--border-color-1),
				var(--border-color-2)
			)
			1;
	}
	10% {
		border-image: linear-gradient(
				to top,
				var(--border-color-flash-1),
				var(--border-color-flash-2)
			)
			1;
	}
	50% {
		border-image: linear-gradient(
				to top,
				var(--border-color-flash-2),
				var(--border-color-flash-1)
			)
			1;
	}
	80% {
		border-image: linear-gradient(
				to top,
				var(--border-color-flash-1),
				var(--border-color-flash-2)
			)
			1;
	}
	100% {
		border-image: linear-gradient(
				to top,
				var(--border-color-2),
				var(--border-color-1)
			)
			1;
	}
}

@keyframes borderAnimation {
	0% {
		border-image: linear-gradient(
				to top,
				var(--border-color-2),
				var(--border-color-1)
			)
			1;
	}
	50% {
		border-image: linear-gradient(
				to top,
				var(--border-color-1),
				var(--border-color-2)
			)
			1;
	}
	100% {
		border-image: linear-gradient(
				to top,
				var(--border-color-2),
				var(--border-color-1)
			)
			1;
	}
}

@keyframes backgroundAnimation {
	0% {
		background: var(--border-color-2);
	}
	50% {
		background: var(--border-color-1);
	}
	100% {
		background: var(--border-color-2);
	}
}

@keyframes backgroundSubAnimation {
	0% {
		background: var(--border-color-1);
	}
	10% {
		background: var(--border-color-flash-1);
	}
	50% {
		background: var(--border-color-flash-2);
	}
	80% {
		background: var(--border-color-flash-1);
	}
	100% {
		background: var(--border-color-2);
	}
}
